USE [master]
GO
/****** Object:  Database [QuanLyDaiLy123]    Script Date: 10/1/2015 7:34:03 PM ******/
CREATE DATABASE [QuanLyDaiLy123]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDaiLy', FILENAME = N'E:\Maintenance\DOANCNPM_VER3\File SQL\QuanLyDaiLy1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyDaiLy_log', FILENAME = N'E:\Maintenance\DOANCNPM_VER3\File SQL\QuanLyDaiLy_log1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDaiLy123].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDaiLy123]
GO
/****** Object:  Table [dbo].[BAOCAO_CONGNO]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO_CONGNO](
	[Thang] [int] NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[NoDau] [int] NULL,
	[NoCuoi] [int] NULL,
	[PhatSinh] [int] NULL,
 CONSTRAINT [PK_BAOCAO_CONGNO] PRIMARY KEY CLUSTERED 
(
	[Thang] ASC,
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAO_DS]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO_DS](
	[Thang] [int] NOT NULL,
	[TongDoanhSo] [int] NOT NULL,
 CONSTRAINT [PK_BAOCAO_DS] PRIMARY KEY CLUSTERED 
(
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_BAOCAO_DS]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAOCAO_DS](
	[Thang] [int] NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[SoLuongPhieuXuat] [int] NOT NULL,
	[TongGIaTri] [int] NOT NULL,
	[TyLe] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_CT_BAOCAO_DS] PRIMARY KEY CLUSTERED 
(
	[Thang] ASC,
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PNH]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PNH](
	[MaCT_PNH] [nvarchar](50) NOT NULL,
	[MaPhieuNhapHang] [nvarchar](50) NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_CT_PNH] PRIMARY KEY CLUSTERED 
(
	[MaCT_PNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PXH]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PXH](
	[MaCT_PXH] [nvarchar](50) NOT NULL,
	[MaPhieuXuatHang] [nvarchar](50) NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_CT_PXH] PRIMARY KEY CLUSTERED 
(
	[MaCT_PXH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[TenDaiLy] [nvarchar](50) NULL,
	[MaLoaiDaiLy] [nvarchar](50) NOT NULL,
	[DienThoai] [numeric](18, 0) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaQuan] [nvarchar](50) NOT NULL,
	[NgayTiepNhan] [date] NULL,
	[TienNo] [int] NOT NULL,
	[Email] [nchar](200) NULL,
 CONSTRAINT [PK_DAILY_1] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MaDonViTinh] [nvarchar](50) NOT NULL,
	[TenDonViTinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[MaDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIDAILY]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDAILY](
	[MaLoaiDaiLy] [nvarchar](50) NOT NULL,
	[TenLoaiDaiLy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](50) NULL,
	[MaDonViTinh] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[Quyen] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MaPhieuNhapHang] [nvarchar](50) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [nvarchar](50) NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[SoTienThu] [int] NULL,
	[NgayThuTien] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUATHANG]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATHANG](
	[MaPhieuXuatHang] [nvarchar](50) NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[NgayLapPhieu] [datetime] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_PHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAN]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN](
	[MaQuan] [nvarchar](50) NOT NULL,
	[TenQuan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUAN] PRIMARY KEY CLUSTERED 
(
	[MaQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 10/1/2015 7:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nchar](100) NOT NULL,
	[GiaTri] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOAIDAILY] ADD  CONSTRAINT [DF_LOAIDAILY_MaLoaiDaiLy]  DEFAULT ((2)) FOR [MaLoaiDaiLy]
GO
ALTER TABLE [dbo].[BAOCAO_CONGNO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_CONGNO_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[BAOCAO_CONGNO] CHECK CONSTRAINT [FK_BAOCAO_CONGNO_DAILY]
GO
ALTER TABLE [dbo].[CT_BAOCAO_DS]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAOCAO_DS_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[CT_BAOCAO_DS] CHECK CONSTRAINT [FK_CT_BAOCAO_DS_DAILY]
GO
ALTER TABLE [dbo].[CT_PNH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PNH_MATHANG] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MATHANG] ([MaMatHang])
GO
ALTER TABLE [dbo].[CT_PNH] CHECK CONSTRAINT [FK_CT_PNH_MATHANG]
GO
ALTER TABLE [dbo].[CT_PNH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PNH_PHIEUNHAPHANG] FOREIGN KEY([MaPhieuNhapHang])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MaPhieuNhapHang])
GO
ALTER TABLE [dbo].[CT_PNH] CHECK CONSTRAINT [FK_CT_PNH_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[CT_PXH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PXH_MATHANG] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MATHANG] ([MaMatHang])
GO
ALTER TABLE [dbo].[CT_PXH] CHECK CONSTRAINT [FK_CT_PXH_MATHANG]
GO
ALTER TABLE [dbo].[CT_PXH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PXH_PHIEUXUATHANG] FOREIGN KEY([MaPhieuXuatHang])
REFERENCES [dbo].[PHIEUXUATHANG] ([MaPhieuXuatHang])
GO
ALTER TABLE [dbo].[CT_PXH] CHECK CONSTRAINT [FK_CT_PXH_PHIEUXUATHANG]
GO
ALTER TABLE [dbo].[DAILY]  WITH CHECK ADD  CONSTRAINT [FK_DAILY_LOAIDAILY] FOREIGN KEY([MaLoaiDaiLy])
REFERENCES [dbo].[LOAIDAILY] ([MaLoaiDaiLy])
GO
ALTER TABLE [dbo].[DAILY] CHECK CONSTRAINT [FK_DAILY_LOAIDAILY]
GO
ALTER TABLE [dbo].[DAILY]  WITH CHECK ADD  CONSTRAINT [FK_DAILY_QUAN1] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[QUAN] ([MaQuan])
GO
ALTER TABLE [dbo].[DAILY] CHECK CONSTRAINT [FK_DAILY_QUAN1]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_DONVITINH] FOREIGN KEY([MaDonViTinh])
REFERENCES [dbo].[DONVITINH] ([MaDonViTinh])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_DONVITINH]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_DAILY]
GO
ALTER TABLE [dbo].[PHIEUXUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATHANG_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[PHIEUXUATHANG] CHECK CONSTRAINT [FK_PHIEUXUATHANG_DAILY]
GO
USE [master]
GO
