<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOANCNPM_VER1.Properties.Settings.QuanLyDaiLy123ConnectionString"
            connectionString="Data Source=TIEUQUYNH\TIEUNGU;Initial Catalog=QuanLyDaiLy123;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DOANCNPM_VER1.Properties.Settings.D__HOC_KY_6_PHÁT_TRIỂN__VẬN_HÀNH__BẢO_TRÌ_PHẦN_MỀM_DOANCNPM_VER3_FILE_SQL_QUANLYDAILY1_MDFConnectionString"
            connectionString="Data Source=TIEUQUYNH\TIEUNGU;Initial Catalog=&quot;D:\HOC KY 6\PHÁT TRIỂN, VẬN HÀNH, BẢO TRÌ PHẦN MỀM\DOANCNPM_VER3\FILE SQL\QUANLYDAILY1.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DOANCNPM_VER1.Properties.Settings.QuanLyDaiLy123ConnectionString1"
            connectionString="Data Source=DUYTHANH-PC;Initial Catalog=QuanLyDaiLy123;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DOANCNPM_VER1.Properties.Settings.QuanLyDaiLyConnectionString"
            connectionString="Data Source=NAMHOANG;Initial Catalog=QuanLyDaiLy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
